<% @businesses.each do |b| %>
    <div class="row-fluid well well-small">
            <%= link_to b.name, b, :class => "span10" %>
            <%= image_tag b.image, :style => "width:100px", :class => "span2" %>
    </div>
<% end %>

<%= link_to 'Registrar Nueva Empresa', new_business_path %>
